.friend-card::before {    
    content: "";
    background-image: url("petpic.jpeg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}
.friend-card {
    position: relative;
    border: 3px solid rgb(65, 63, 63);
    width: 400px;
    height: 500px;
    padding: 25px;
    margin: 15px;
    color: black;
    text-align: center;

}
.title {
    font-size: 72px;
    text-align: center;
}

.friend-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
}
.body {
    background-color: slategray;
}
h1 {
    position: relative;
    color: black;
    background-color: rgba(235, 245, 251, 0.7);
    padding: 5px;

}
h2 {
    position: relative;
    color: black;
    background-color: rgba(235, 245, 251, 0.7);
    padding: 5px;

}
ul {
    position: relative;
    color: black;
    list-style-type: none;
}