.al{
    position: relative;
    top: -225px;
    left: 457px
}
.ak{
    position: relative;
    top: -87px;
    left: 137px;
}
.as{
    position: relative;
    top: -55px;
    left: 325px;
}
.az{
    position: relative;
    top: -250px;
    left: 83px;
}
.ar{
    position: relative;
    top: -250px;
    left: 297px;
}
.ca{
    position: relative;
    top: -317px;
    left: -59px;
}
.co{
    position: relative;
    top: -317px;
    left: 94px;
}
.ct{
    height: 17px;
    position: relative;
    top: -347px;
    left: 520px;
}
.de{
    height: 17px;
    position: relative;
    top: -296px;
    left: 500px;
}
.dc{
    height: 17px;
    position: relative;
    top: -279px;
    left: 478px;
}
.fl{
    position: relative;
    top: -165px;
    left: 311px
}
.ga{
    position: relative;
    top: -227px;
    left: 260px
}
.gu{
    height: 17px;
    position: relative;
    top: -73px;
    left: 200px
}
.hi{
    height: 17px;
    position: relative;
    top: -91px;
    left: -40px
}
.id{
    position: relative;
    top: -405px;
    left: -170px
}
.il{
    position: relative;
    top: -332px;
    left: 100px
}
.in{
    position: relative;
    top: -335px;
    left: 117px
}
.ia{
    position: relative;
    top: -360px;
    left: 13px
}
.ks{
    position: relative;
    top: -305px;
    left: -62px
}
.ky{
    height: 17px;
    position: relative;
    top: -296px;
    left: 75px
}
.la{
    position: relative;
    top: -200px;
    left: -32px
}
.me{
    position: relative;
    top: -450px;
    left: 184px
}
.md{
    height: 17px;
    position: relative;
    top: -313px;
    left: 215px
}
.ma{
    height: 17px;
    position: relative;
    top: -389px;
    left: 190px
}
.mi{
    position: relative;
    top: -385px;
    left: -44px;
}
.nm{
    position: relative;
    top: -248px;
    left: -503px;
}
.ms{
    position: relative;
    top: -225px;
    left: -133px;
}
.mo{
    position: relative;
    top: -305px;
    left: -200px;
}
.mt{
    position: relative;
    top: -445px;
    left: -408px;
}
.ne{
    position: relative;
    top: -352px;
    left: -330px;
}
.nv{
    position: relative;
    top: -345px;
    left: -548px;
}
.nh{
    height: 17px;
    position: relative;
    top: -418px;
    left: 5px
}
.nj{
    height: 17px;
    position: relative;
    top: -330px;
    left: -20px
}
.mn{
    position: relative;
    top: -420px;
    left: -173px;
}
.ny{
    position: relative;
    top: -395px;
    left: -174px;
}
.nc{
    position: relative;
    top: -295px;
    left: 552px;
}
.nd{
    position: relative;
    top: -462px;
    left: 270px;
}
.mp{
    position: relative;
    top: -165px;
    left: 580px;
}
.oh{
    position: relative;
    top: -362px;
    left: 415px;
}
.ok{
    position: relative;
    top: -275px;
    left: 228px;
}
.or{
    position: relative;
    top: -440px;
    left: -45px;
}
.pa{
    position: relative;
    top: -380px;
    left: 408px;
}
.pr{
    position: relative;
    top: -90px;
    left: 395px;
}
.ri{
    height: 17px;
    position: relative;
    top: -383px;
    left: 490px;
}
.sc{
    position: relative;
    top: -267px;
    left: 330px;
}
.sd{
    position: relative;
    top: -420px;
    left: 68px;
}
.tn{
    position: relative;
    top: -287px;
    left: 208px;
}
.tx{
    position: relative;
    top: -218px;
    left: 33px;
}
.ut{
    position: relative;
    top: -350px;
    left: -138px;
}
.vt{
    height: 17px;
    position: relative;
    top: -455px;
    left: 362px;
}
.vi{
    position: relative;
    top: -110px;
    left: 330px
}
.va{
    position: relative;
    top: -332px;
    left: 202px;
}
.wa{
    position: relative;
    top: -490px;
    left: -280px;
}
.wv{
    position: relative;
    top: -338px;
    left: 120px;
}
.wi{
    position: relative;
    top: -418px;
    left: -10px;
}
.wy{
    position: relative;
    top: -400px;
    left: -230px;
}