header {
    margin-top: 100px;
    text-align: center;
   font-size: 72px;
}
.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 10%;
}
.vacation-card {
    border: 2px solid black;
    margin: 20px;
    padding: 25px;
    width: 250px;

}
.dollar-amount{
    font-size: 24px;
    font-weight: bold;
}

@media (max-width:1135px) {
    .card-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 10%;
    }
}

@media (max-width:750px) {
    .card-grid{
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px 10%;
    }
}